.create-issues {
    padding: 10px 0
}

.create-issues--head {
    padding: 0 0 30px;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.h2, h2 {
    font-size: 2rem;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.form-row {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-row > .col, .form-row > [class*=col-] {
    box-sizing: border-box;
    padding-right: 5px;
    padding-left: 5px;
}

.form-group {
    margin-bottom: .75rem;
    position: relative;
}

.form-field {
    margin-bottom: .25rem;
    position: relative;
}

.custom-multiple::before {
    background-color: #fff;
    border-radius: .25rem;
    content: "";
    top: 1px;
    height: 1.75rem;
    position: absolute;
    left: 0.1rem;
    width: calc(100% - 1.85rem);
}

.form-control {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-sizing: border-box;
    color: #495057;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 1.75rem .75rem .375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    cursor: not-allowed;
    opacity: 1;
}

.form-control.is-valid,
.form-control.is-invalid {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-position: center right calc(0.375em + 0.1875rem);
    background-repeat: no-repeat;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    border-color: #28a745;
    padding-right: calc(1.5em + 0.75rem);
}

.form-control.is-valid:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.form-control.is-invalid {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
    border-color: #dc3545;
}

.form-control.is-invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}


.form-group label {
    color: #9299a2;
    display: inline-block;
    font-size: inherit;
    left: .75rem;
    position: absolute;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    transition: font-size .25s ease, transform .25s ease;
    will-change: transform, font-size;
}

.form-control:focus + label,
.form-control:valid + label,
.form-control:disabled + label {
    font-size: .85rem;
    transform: translateY(calc(-50% - 1rem));
}

.form-description,
.form-message {
    color: #9299a2;
    font-size: .85rem;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    display: inline-block;
    padding: 1.75rem 1.75rem .375rem .75rem;
    vertical-align: middle;
}


.custom-select.is-valid {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") #fff no-repeat center right 1.75rem/calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    border-color: #28a745;
    padding-right: calc((1em + 0.75rem) * 3 / 4 + 1.75rem);
}

.custom-select.is-invalid {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") #fff no-repeat center right 1.75rem/calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    border-color: #dc3545;
    padding-right: calc((1em + 0.75rem) * 3 / 4 + 1.75rem);
}

.custom-select::-ms-expand {
    display: none;
}

.form-control.custom-select + label,
.form-control.custom-select-multiple + label,
.form-control.custom-textarea + label {
    font-size: .85rem;
    top: 0;
    transform: translateY(.6rem);
}

.form-control.custom-select-multiple {
    background-image: none;
    height: auto;
    min-height: 150px;
    padding-right: .75rem;
}

.custom-textarea {
    max-width: 100%;
}

.custom-textarea.is-valid,
.custom-textarea.is-invalid {
    background-image: none;
}

.btn {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #212529;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: .375rem .75rem;
    text-align: center;
    user-select: none;
    -ms-user-select: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, color .15s ease-in-out, background-color .15s ease-in-out;
    vertical-align: middle;
    will-change: border-color, box-shadow, background-color;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn:disabled {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    cursor: not-allowed;
}

.progress {
    background-color: #e9ecef;
    border-radius: .25rem;
    display: flex;
    font-size: .75rem;
    height: 2rem;
    overflow: hidden;
}

.progress-bar {
    background-color: #007bff;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    color: #fff;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    transition: width .6s ease;
}

.progress-bar-animated {
    animation: progress-bar 1s linear infinite;
}

.hidden {
    display: none !important;
}

.align-items-center {
    align-items: center !important;
}


@media (min-width: 768px) {

}

@keyframes progress-bar {
    from {
        background-position: 1rem 0;
    }
    to {
        background-position: 0 0;
    }
}